.movie-card {
  width: 220px;
  height: 330px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.movie-card:hover {
  transform: scale(1.1) translateZ(20px);
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  background-color: rgba(43, 41, 41, 0.9);
  opacity: 0;
  overflow-wrap: break-word;
  transition: all 250ms ease-in-out;
}

.overlay:hover {
  opacity: 1;
}

.overlay h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.overlay span {
  font-size: 16px;
  font-weight: 500;
}

.overlay span::after {
  content: "•";
  margin: 0 5px;
}

.overlay span:last-of-type::before {
  content: "☺︎";
  font-size: 150%;
  color: green;
}

.overlay span:nth-last-of-type(2)::after {
  margin-right: 0;
}

.overlay span:last-of-type::after {
  content: none;
}

.overlay span:nth-of-type(2)::before {
  content: "★";
  color: yellow;
}

.overlay p {
  display: inline-block;
  padding: 0 5px;
  border-radius: 4px;
  margin-top: 10px;
}

.adult {
  background-color: red;
}

.non-adult {
  background-color: green;
}

@media screen and (min-width: 768px) {
  .movie-card:hover {
    transform: scale(1.2) translateZ(20px);
  }

  .overlay h1 {
    font-size: 26px;
  }
}

@media screen and (min-width: 1024px) {
  .movie-card:hover {
    transform: scale(1.3) translateZ(20px);
  }
}
